* {
    margin: 0px;
    padding: 0px;
    
}
/*ard*/

li {
    list-style: none;
}
img{
    width: 200px;
    height: 300px;
}
.products {
    margin: 0px auto;
    margin-top: 20px;
    width: 80%;
    min-height: 500px;
    background: #ffff;
    display: flex;
}
.products .container-2{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/*Aside*/
.Linea{
    width: 100%;
    height: 3px;
    background:#FD6E4F;
    margin-top: 10px;
    margin-bottom: 10px;
}

.products aside{
    width: 20%;
    margin: 30px;
}
aside h3{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 25px;
}
aside ul li{
    margin-top: 5px;
}
aside ul li ul li{
    margin-left: 15px;
    padding: 4px;
}
aside ul li ul li:hover{
    cursor: pointer;
    color:  #FD6E4F;
}
aside ul li ul li input[type="number"]{
    width: 60px;
    height: 25px;
    border: 1px solid #A8A8A8;
}
aside ul li ul li input[type="button"]{
    width: 50px;
    height: 25px;
    background: #FD6E4F;
    border: none;
    color: white;
}
aside ul li ul li input[type="button"]:hover{
    cursor: pointer;
}


/*Card*/
.title{
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}

.card {
    display: flex;
    width: 20%;
    padding: 10px;
    flex-direction: column;
    box-shadow: 0px 0px 15px #EBEBEB;
    margin: 20px;
    margin-top: 40px;
    border-radius: 10px;

} 

.card .card-body .estrellas{
    text-align: center;
}
.card-header{
    font-size: 20px;
    text-align: center;
    margin: 5px;
    
}
.card-body{
    display: block;
    margin: auto;
}
.card-body .price{
    text-align: center;
    font-size: 15px;
    margin: 5px;
    font-weight: bold;
}




