* {
    margin: 0px;
    padding: 0px;
    ;
}

body {
    background: #F5F5F5
}
a{
    text-decoration: none;
    color: black;
}
li {
    list-style: none;
    cursor: pointer;
}
body {
    font-family:  'Poppins', sans-serif;
}
/* header */

header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    
}

header>ul {
    width: 45%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    padding: 40px;
}
.Linea{
    width: 100%;
    height: 3px;
    background:#FD6E4F;
    margin-top: 10px;
    margin-bottom: 10px;
}
li>a:hover {
    color: #FD6E4F;
}

/*Menu*/
.menu_bar{
    margin-right: 30px;
    font-size: 25px;
    color: #F5F5F5;
    cursor: pointer;
    display: none;
}
/* banner */

.banner>img {
    width: 100%;
}


/*Footer*/

footer{
    
    background: #0A0E39;
    color: white;
    
    
}
.container-footer{
    margin: auto 0px;
    display: flex;
    justify-content: center;
    padding: 30px;

}
.container-footer .sobreNosotros{
    width: 500px;
    margin-right: 10px;
}
.container-footer h3{
    margin-bottom: 10px;
}
.container-footer .center{
    width: 400px;
    display: flex;
    align-content: center;

}
.center i{
    color:  #FD6E4F;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
}
.center h3{
    display: none;
}

/*Carrito*/
.fa-shopping-bag{
    font-size: 25px;
    color: #4C4C4C;
}
.fa-search{
    font-size: 25px;
    color: #4C4C4C;
}

/*Buscador*/
header ul li input[type="text"]{
    border: none;
    height: 25px;
    width: 50px;
}



@media screen and (max-width:1140px){
 
     header>ul {
        width: 70%;
        
    }
    
    
 
}
@media screen and (max-width:986px){
    .title img{
        width: 280px;
    }
    header>ul {
        width: 70%;
    }
    
} 
@media screen and (max-width:953px){
    
    header img{
        width: 220px;
        padding-left: 25px;
    }
    header ul li a{
        font-size: 16px ;
    }

    .container-footer .center{
        display: flex;
        flex-direction: column;
        margin-right: 10px;
    }
    .center i{
        margin-bottom: 10px;
    }
    .center h3{
        display: inline;
        margin-top: 15px;
    }
    
    .container-footer .contacto{
        margin-top: 15px;
    }
}


@media screen and (max-width:850) and (orientation : landscape){
    header ul li{
        margin: 5px 0 0 0;
    }
    header{
        overflow: scroll;
        height: calc(100% -65px);
    }
}
@media screen and (max-width:770px ){
    
    .banner{
        width: 100%;
    }
    
    .container-footer{
        display: flex;
        flex-direction: column;
    }
    
}
@media screen and (max-width:538px){
    .container-footer .sobreNosotros {
        width: 90%;
    }
    .container-footer .center{
        width: 90%;
    }
    .container-footer .contacto{
        width: 90%;
    }
}