* {
    margin: 0px;
    padding: 0px;
    ;
}

body {
    background: #F5F5F5
}


/* header */

header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

header>ul {
    width: 40%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    padding: 40px;
}


/* banner */

.banner>img {
    width: 100%;
}


/* card */

