#miCuenta {
    position: relative;
    cursor: pointer;
}
li{
    text-decoration: none;
}
#miCuenta:hover>#subMenuCuenta {
    display: block;
}

#subMenuCuenta {
    display: none;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    position: absolute;
    animation-duration: 300ms;
}

#subMenuCuenta li a {
    color: #ffffff;
    display: block;
    margin: 15px 10px 15px 10px;
}

#subMenuCuenta li:hover a {
    color: #FD6E4F;
}