* {
    margin: 0px;
    padding: 0px;
}


/*ard*/

.card img {
    width: 200px;
    height: 300px;
}

.bodyVentas {
    margin: 0px auto;
    margin-top: 20px;
    width: 80%;
    min-height: 500px;
    background: #ffff;
}

.bodyVentas h1 {
    text-align: center;
    padding: 40px;
    font-size: 40px;
}

.products {
    display: flex;
}

.products .container-2 {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/*Aside*/

.Linea {
    width: 100%;
    height: 3px;
    background: #FD6E4F;
    margin-top: 10px;
    margin-bottom: 10px;
}

.products aside {
    width: 20%;
    margin: 30px;
}

aside h3 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 25px;
}

aside ul li {
    margin-top: 5px;
}

aside ul li ul li {
    margin-left: 15px;
    padding: 4px;
}

aside ul li ul li:hover {
    cursor: pointer;
    color: #FD6E4F;
}

aside ul li ul li input[type="number"] {
    width: 60px;
    height: 25px;
    border: 1px solid #A8A8A8;
}

aside ul li ul li input[type="button"] {
    width: 50px;
    height: 25px;
    background: #FD6E4F;
    border: none;
    color: white;
}

aside ul li ul li input[type="button"]:hover {
    cursor: pointer;
}


/*Card*/

.title {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}

.card {
    padding: 20px;
    width: 25%;
    border: 1px solid #EBEBEB;
    margin: 10px;
    margin-top: 40px;
    border-radius: 10px;
}

.imageContainer img {
    object-fit: contain;
}

.btn-comprar {
    display: flex;
    justify-content: center;
    padding: 10px;
    background: #FD6E4F;
    color: white;
    border-radius: 10px;
    display: none;
    animation-duration: 500ms !important;
}

.card:hover .title,
.card:hover .estrellas {
    display: none;
}

.card:hover .btn-comprar {
    display: block;
    text-align: center;
    transition: 300ms all;
}

.card:hover .price {
    font-size: 20px;
}

.card .card-body .estrellas {
    text-align: center;
}

.card-header {
    font-size: 20px;
    text-align: center;
    margin: 5px;
}

.card-body {
    display: block;
    margin: auto;
    position: relative;
}

.card-body .price {
    text-align: center;
    font-size: 15px;
    margin: 5px;
    font-weight: bold;
}


/*Ventas*/



@media screen and (max-width:1284px){
    .imageContainer img{
        width: 100%;
    } 
}


@media screen and (max-width:1230px){
    
    .products{
        flex-direction: column-reverse;
        
    }
    .imageContainer img{
        width: 100%;
        height: 100%;
    }
    .products aside{
        width: 40%;
    } 
    
    
    .products .container-2 {
        width: 100%;
    }
}

@media screen and (max-width:770px ){
    .bodyVentas {
        width: 100%;  
        
    }
    .products .container-2 {
        width: 100%;
    }
}